*{
    margin: 0px;
    padding:0px;
    text-align: center;
}

.divmain{

    margin-top: 150px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    width:100%;
    left: 0 ;
    right: 0  ;
    top:0;
    color: black;
    /* z-index: 9999; */
    
}

.nav__logo{
    width: 50px ;
    height: 60px;
}

.nav_menu {
    width: 300px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav_menu a {
    text-decoration: none;
    color: grey;
}

.title{
    margin: 80px 0px 0px 0px;
    padding : 5px 0px 8px 0px;
    color : black; 
    font-family: fantasy;
}


.srchDiv {
    margin: 0px 0px 0px 0px ;
    padding : 10px 0px 0px 0px;
}
 
.meal_img {
    height: 110px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-style: double;
    border-color: gray;
}
#divCatigories{
    display: flex;
    flex-direction: row;
    padding: 20px;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

}

.name{
    color: black;
    font-style: initial;
    font-size: 20px;
}
.yummy-meals {
    height: 900px;
    display: flex;
    flex-direction: column;
    padding: 0px 85px 0px 85px;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

}
.meal_h1{
    color: black;
    font-size: 10px;
    align-self: center;
}

.theTitle {
    color : gray;
    padding : 100px 0px 10px 0px ;
}
.mealIngredients{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 0 30px;
}

.ingrenientsImg {
    height: 110px;
    width: 100px;
    padding: 10px;
    margin: 5px;
    
}
.ingrenientsDiv{
    display: flex;
    flex-direction: column;
    margin:5px;
    padding: 33px;
    align-items: center;
}
.itemImg{
   height: 200px;
   width: 250px;
}
.itemName{
   font-size: 20px;
   color: brown;
}

.foodDiv{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    
}